body {
	background-color: #C43CA9;
}

h1 {
  text-align: center;
  font-family: Arial;
  text-overflow: hidden;
  color: white;
  text-shadow:  2px 0px 0px #000;
  margin-top: 30px;
}

* {
  box-sizing: border-box;
}

.container {
	position: relative;
}

p {
  border: 1px solid black;
  background-color: gray;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 0.95em;
  border-radius: 4px
}


span {
	float:right;
	border: 1px solid black;
	background-color: white;
	width: 80px;
	height:25px;
	text-align: center;
	padding-top: 4px;
	border-radius: 3px;
}



#p1 {
	background-color: #EFCBE8;
	padding: 0 13px 0;

}

#p2 {
	background-color: #FFCCCC;
	padding: 0 13px 0;
}

#p3 {
	background-color: #FFFFDD;
	padding: 0 13px 0;
}


#span1 {
	position: absolute;
	top: 0;
	right: 0;
	background-color: pink;
}

#span2 {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #E08585;
}
#span3 {
	position: absolute;
	top: 0;
	right: 0;
	background-color: beige;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}





/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 48%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 88%;
  }
  .col-md-12 {
    width: 105.7%;
  }

#p3 {
	margin-left: 18px;
}


/********** Small devices only **********/
@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }

}

